
.modalBackground {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 90vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #8e3d8e, #230f23); */
    background-color: rgba(0,0,0,0.75);
  }
  
  .modalContainer {
    color:white;
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: #FFE5AE;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-shadow: 2px 1px 4px #11052C;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: #3D087B;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    color: black;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    /* text-align: center; */
    color:#3D087B;
  }

  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonSubmitModal {
    width: 100px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }
  .textarea1{
    resize: none;
  }