* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  outline: none;
  /* background-color: rgb(32, 32, 32); */
  /* color: rgb(255, 255, 255); */
  /* border: 1px solid white; */
} 